*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(imgs/esferabackground.gif) no-repeat;
    background-size: 75%;
    background-position: 45% 50%;
    background-color: black;
    
    
}
.container{
    background-color: rgb(5, 136, 197);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    
    
    
}
.raio{
   align-self: center;
   display: flex;
   max-width: 300px;
   flex-wrap: wrap;
   height: 50px;
   justify-content: space-evenly;
   
}
.raio p{
    margin: 0 auto;
    font-weight: bolder;
    font-size: 120%;
    margin-bottom: 7px;
    text-decoration: underline;
}
.raio input{
    border-radius: 15px;
    padding: 3px;
}
.raio button{
    border-radius: 15px;
    padding: 0 4px;
    box-shadow: 2px 2px 5px 1.3px;
    transition: 0.1s;
}
.raio button:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}
.raio button.press{
    
    transform: translate(2px,2px);
    box-shadow: 0 0 0 0;
}
.container div:not(.raio){
    margin-left: 20px;
}


