*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(imgs/esferabackground.gif) no-repeat;
    background-size: 75%;
    background-position: 45% 50%;
    background-color: black;
    
    
}
.container{
    background-color: rgb(5, 136, 197);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    
    
    
}
.raio{
   align-self: center;
   display: flex;
   max-width: 300px;
   flex-wrap: wrap;
   height: 50px;
   justify-content: space-evenly;
   
}
.raio p{
    margin: 0 auto;
    font-weight: bolder;
    font-size: 120%;
    margin-bottom: 7px;
    text-decoration: underline;
}
.raio input{
    border-radius: 15px;
    padding: 3px;
}
.raio button{
    border-radius: 15px;
    padding: 0 4px;
    box-shadow: 2px 2px 5px 1.3px;
    transition: 0.1s;
}
.raio button:hover{
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}
.raio button.press{
    
    transform: translate(2px,2px);
    box-shadow: 0 0 0 0;
}
.container div:not(.raio){
    margin-left: 20px;
}

.container > div:not(.raio) > p:nth-of-type(2){
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}
.valor{
    color: rgb(255, 255, 255);
    animation: neon 1s ease-in-out infinite alternate;
    
        
}

@keyframes neon {
    from {
        text-shadow: 
        0 0 4px rgb(0, 247, 255),
        0 0 10px rgb(0, 247, 255),
        0 0 30px rgb(0, 0, 156),
        0 0 50px rgb(0, 0, 156),
        0 0 70px rgb(0, 0, 156),
        0 0 90px rgb(0, 0, 156); 
    }
    to {
        text-shadow: 
        0 0 2px rgb(0, 247, 255),
        0 0 5px rgb(0, 247, 255),
        0 0 15px rgb(0, 0, 156),
        0 0 25px rgb(0, 0, 156),
        0 0 35px rgb(0, 0, 156),
        0 0 45px rgb(0, 0, 156); 

    }
}

@media screen and (min-width:650px) and (max-width: 1100px){
    body{
        background-size: 130%;
        background-position: 57.5% 50%;
    }
}
@media screen and (min-width:450px) and (max-width:650px) {
    body{
        background-size: 170%;
         background-position: 54% 50%;

    }
   
}
@media screen and (max-width:450px){
    body{
        background-size: 210%;
         background-position: 53% 50%;

    }
   
}